<!doctype html>

<!--Links pages all together -->
<body bgcolor="054212">

<table border=0, align="center", bgcolor="1ADF44">

<tr>
<td>
<a href="http://localhost:5000/rockruff">
<img src= "{{url_for('static', filename='rockruff.png')}}">
</a>
</td>

<td>
<a href="http://localhost:5000/gastly">
<img src= "{{url_for('static', filename='gastly.png')}}">
</a>
</td>

<tr>
<td>
<a href="http://localhost:5000/ekans">
<img src="{{url_for('static', filename='ekans.png')}}">
</a>
</td>

<td>
<a href="http://localhost:5000/trumbeak">
<img src="{{url_for('static', filename='trumbeak.png')}}">
</a>
</td>
</tr>

<tr>
<td>
<a href="http://localhost:5000/torracat">
<img src="{{url_for('static', filename='torracat.png')}}">
</a>
</td>

<td>
<a href="http://localhost:5000/magnemite">
<img src="{{url_for('static', filename='magnemite.png')}}">
</a>
</td>
</tr>

</table>

</body>

</html>
